typing~=3.7.4.3
jax~=0.4.31
numpy~=2.0.0
matplotlib~=3.9.1
pyvista~=0.44.1
trimesh~=4.4.8
stl~=0.0.3
cffi~=1.15.0
future~=0.18.2
typing_extensions~=4.12.2
Pillow~=9.0.1
olefile~=0.46
jaxlib~=0.4.31
opt-einsum~=3.3.0
scipy~=1.14.1
etils~=1.7.0
protobuf~=3.12.4
Pygments~=2.13.0
ml-dtypes~=0.4.0
rich~=13.3.5
absl-py~=2.1.0
colorama~=0.4.4
requests~=2.28.1
tensorstore~=0.1.64
pip~=24.2
attrs~=21.2.0
distro~=1.7.0
wheel~=0.37.1
pyOpenSSL~=24.2.1
cryptography~=43.0.0
docutils~=0.20.1
tornado~=6.1
Jinja2~=3.0.3
PyYAML~=5.4.1
zipp~=1.0.0
pytest~=8.2.2
fsspec~=2024.6.1
importlib_resources~=6.4.4
imageio~=2.31.4
lark-parser~=0.12.0
networkx~=3.1
orbax-checkpoint~=0.6.1
pandas~=2.2.2
packaging~=24.1
Cython~=0.29.28
setuptools~=59.6.0
pytz~=2022.1
charset-normalizer~=2.1.1
nest-asyncio~=1.6.0
msgpack~=1.0.3
pooch~=1.8.2
paramiko~=2.9.3
platformdirs~=4.2.2
mpmath~=0.0.0
sympy~=1.9
lz4~=3.1.3+dfsg
ujson~=5.1.0
scooby~=0.10.0
certifi~=2020.6.20
configobj~=5.0.6
cycler~=0.11.0
lxml~=4.8.0
Rtree~=1.3.0
mkdocs-material~=8.5.6
ply~=3.11
psutil~=5.9.0
urllib3~=1.26.5
six~=1.16.0
python-dateutil~=2.8.2
decorator~=4.4.2
idna~=3.3
chardet~=4.0.0
contourpy~=1.2.1
fonttools~=4.29.1
reportlab~=3.6.8
ufoLib2~=0.13.1
fs~=2.4.12
pycairo~=1.20.1
unicodedata2~=14.0.0
pyparsing~=2.4.7
termcolor~=2.4.0
deprecation~=2.1.0
PyGObject~=3.42.1
kiwisolver~=1.3.2
trove-classifiers~=2024.7.2
build~=1.2.1
PyQt5~=5.15.6
nvtx~=0.2.10